{% load i18n %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="x-apple-disable-message-reformatting"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
    <title>{{ subject }}</title>
    <style type="text/css">
      .content-area p {
        margin: 0;
      }
    </style>
</head>
<body style="margin: 0; padding: 0; width: 100%; background-color: {{main_bgc}};">

  <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" role="presentation" bgcolor="{{main_bgc}}">
    <tr>
      <td align="center" valign="top">

        {% include 'base/header.html' %}
        <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation" style="max-width: 600px;">
          <tr>
            <td class="content-area" bgcolor="{{body_bgc}}" style="background-color: {{body_bgc}};">
            
              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                  <td style="padding: 30px 25px 20px 25px; font-size: 18px; line-height: 28px; font-weight: bold; text-align: center; color: {{main_text_clr}}; font-family: {{font_family}};">
                    {{ welcome }}<br /><span>{{ order }}</span>
                  </td>
                </tr>
              </table>

              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                  <td style="padding: 10px 25px 5px 25px; font-size: 16px; line-height: 24px; text-align: center; color: {{main_text_clr}}; font-family: {{font_family}};">
                    {{ products_copy }}
                  </td>
                </tr>
              </table>

              {% for product in products %}
              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                  <td align="center" style="padding: 5px 25px;">
                    <table border="0" cellspacing="0" cellpadding="0" role="presentation">
                      <tr>
                        <td align="center" bgcolor="{{main_bgc}}" style="background-color: {{main_bgc}}; border: 1px dashed #555555; padding: 10px 15px; border-radius: 4px; font-family: 'Courier New', Courier, monospace; color: #EEEEEE; font-size: 14px; line-height: 22px;">
                            {% if product.additional_key %}
                              {{product.name}}: {{ key_name }}: {{product.key}} | {{ additional_key_name }}: {{product.additional_key}}
                            {% else %}
                              {{product.name}}: {{product.key}}
                            {% endif %}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              {% endfor %}
              
              {% if instructions %}
              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                  <td style="padding: 25px 25px 5px 25px; font-size: 16px; line-height: 24px; color: {{main_text_clr}}; font-family: {{font_family}};">
                    {{ instructions_copy }}
                  </td>
                </tr>
              </table>
              {% for instruction in instructions %}
              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                  <td style="padding: 5px 25px; font-size: 14px; line-height: 22px; color: {{main_text_clr}}; font-family: {{font_family}};">
                    <strong>{{ instruction.name }}</strong><br>
                    {{ instruction.content|safe }}
                  </td>
                </tr>
              </table>
              {% endfor %}
              {% endif %}

              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                <tr>
                  <td style="padding: 25px 25px 30px 25px; font-size: 14px; line-height: 22px; color: {{main_text_clr}}; font-family: {{font_family}};">
                    {{ help|safe }}
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

        {% include 'base/footer.html' %}
        </td>
    </tr>
  </table>
</body>
</html>